:root
{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Dark-Blue-2: hsl(214, 21%, 21%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Font-size-paragraph: 15px;
    --font-family-1: 'Borel', cursive;
    --font-family-2: 'Overpass', sans-serif;
}
*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content:center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.cuadradogrande
{
    border-radius: 20px;
    background-color: var(--Dark-Blue);
    overflow: hidden;
    margin: 0px auto;
    width: 79%;
    padding: 20px;
}
.cajaestrella
{
    display: flex;
    padding-bottom: 10px;
}
.estrellita
{
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: var(--Dark-Blue-2);
}

.letras p
{
    color: var(--Light-Grey);
    font-size: 13px;
    font-family: var(--Font-size-paragraph);
    padding-bottom: 10px;
}
.letras h4
{
    font-family: var(--font-family-2);
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--White);
    font-size: 22px;
}
.botonesdegomita
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px; 
    padding-bottom: 20px;
}
.botonesdegomita button
{
    font-weight: 500;
    color: var(--Light-Grey);
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: var(--Dark-Blue-2);
}
.buttonmhasmello
{
    display: flex;
    justify-content: space-around;
}
.buttonmhasmello button
{
    background-color: var(--Orange);
    height: 40px;
    width: 290px;
    display: flex;
    color: var(--White);
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight: 500;
    font-size: var(--Font-size-paragraph);
}